# Deployment URL
APP_URL=

# Portfolio Contribution Graph → https://github.com/settings/tokens
GITHUB_API_TOKEN=

# PostHog Web Analytics → https://us.posthog.com/signup
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=

# Resend API Key and Sender Email Address → https://resend.com/signup
RESEND_API_KEY=
RESEND_FROM_EMAIL=

# Email address to receive contact form submissions
CONTACT_EMAIL=